
body {
    background-color: #DEB887;
}

.border{
	border-top-style: dotted;
    border-right-style: solid;
    border-bottom-style: dotted;
    border-left-style: solid;
	margin-left: 450px;
	margin-right: 450px;
	
}

